/*=============================================
=              FVUI compatibility            =
=============================================*/
.sidebar_c48ade>.container__2637a,
.sidebar_c48ade>.privateChannels__35e86 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
} 
.container__2637a .content__99f8c::before {
  height: auto !important;
}
.sidebar_c48ade .scroller__629e4 {
  margin-top: 0 !important;
}

.inner_e131a9 {
  display: block !important;
}
/*=====  End of Section FVUI compatibility  ======*/

/*=============================================
=                      TUP                    =
=============================================*/

#app-mount .panels_c48ade {
  order: initial;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  z-index: auto;
}

#app-mount .searchBar__35e86,
#app-mount .container_f37cb1 {
  order: initial;
  position: relative;
  bottom: auto !important;
}

.sidebar_c48ade>.container__2637a,
.sidebar_c48ade>.privateChannels__35e86 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
} 
.sidebar_c48ade .content__99f8c {
  margin-top: 0 !important;
}

.animatedContainer_f37cb1,
.content__99f8c > div[aria-hidden="true"][style="height: 84px;"] {
  display: block !important;
}

/*=====  End of Section TUP  ======*/
